<!--<div ng-repeat="listdata in menuitems track by $index" ng-click="test(listdata.link)">{{listdata.text}}</div>

<list-menu datajson="jsonlessonvalue" dataparam="practice" ng-if="jsonlessonvalue.length" changviewarea="changelessonview(response)">
    
    
</list-menu>-->
<div id="menu_wrapper" ng-init="toggleMenu = false">
    <button class="mtoggle_sec_btn green" ng-click="toggleMenu = !toggleMenu" ng-class="{'change_icon': toggleMenu == false}"><i class="fa fa-angle-up"></i></button>
    <div class="whole_menu_cont" ng-class="{'Collapse_menu': toggleMenu == false}">
        <div class="submenu_cont test_active">
            <div class="_sub_top_nav">
                <div class="alpha_num_menu">
                    <ul class="alpha_num_menu_sub">
                        <li ng-repeat="listdata in menuitems track by $index" ng-class="{'char_Active': listdata.link == current_active_menu}"><a href="javascript:void(0);" ng-click="test(listdata.link)">{{listdata.text}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="_sub_btm_nav" ng-class="{'smallcase': lowecasevalue == true, '_sub_btm_nav_manuscript': obj.lettertype == 'manuscript','_sub_btm_nav_cursive': obj.lettertype == 'cursive' }" >
                <ul>
                    <!--<li ng-repeat="textlist in jsonlessonvalue">
                <div ng-class="{'Activetext': textlist.isActive == 'true','completed_status': textlist.status == '1' }"> 
                    <div>{{textlist.name}}</div>
                </div>
            </li>-->
                    <list-menu datajson="jsonlessonvalue"  buttonevent="nextprevious" dataparam="lesson" ng-if="jsonlessonvalue.length" changviewarea="changelessonview(response)"></list-menu>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="testElem">
    <div class="breadcrum">Workshteet > {{obj.lettertype}} > <span  class="submenu">{{current_active_menu}}</span></div>
    <!--{{validation}}-->
  <div id="nxtbtn" ng-click="nxtbtnclick()">Next Letter</div>
    <div id="prvbtn" ng-click="prvbtnclick()">Prev Letter</div>
    <iframe ng-src="{{url}}" id="text_display21" style="display: block;width: 95%;height:100%;min-height: 700px;margin: 0 auto;"></iframe>
<!--
    <button ng-if="pagenumber" ng-click="validate()">Validate</button>
    <div ng-if="!pagenumber">
        <button ng-click="again()">AGAIN</button> <button ng-if="nextvalue != ''" ng-click="next()">NEXT"{{nextvalue}}"</button>
    </div>
-->
     <div class="col-md-12 button_group">
        <div class="navigate_button"><button class="oclr"  style="display:none;">Validate</button></div>
        <div class="navigate_button"><button class="oclr" ng-click="gotolesson(current_letter)">Lesson - {{current_letter}}</button></div>
        <div class="navigate_button"><button class="oclr" ng-click="gotopractice(current_letter)">Practice - {{current_letter}}</button></div>
        <div class="navigate_button"><button class="oclr opacitylow" ng-click="" disabled>Test - {{current_letter}}</button></div>
    </div>
</div>